.button-catalog__link {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 7px 7px;
  background-color: @basic-green;
}

.button-catalog__link:hover {
  background: #5EAA2F;
}

.button-catalog__link:active {
  background: #5EAA2F;
  color: #68B738;;
}

.button-catalog__all {
  background-color: #F2F2F2;
  color: #444444;
}

.button-catalog__all:hover {
  background: #EBEBEB;
}

.button-catalog__all:active {
  color: #444444;
  opacity: 0.3;
}
