.catalog {
  background-color: #ffffff;
}

.catalog__title {
    margin: 0;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.catalog__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
