.catalog-item__title {
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 18px;
}

.catalog-item__wrapper {
    margin-bottom: 30px;
}

.catalog-item__info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog-item__info-list-value {
    font-family: @lato;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
}

.catalog-item__wrapper-text-one {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-item__wrapper-text-two {
  font-family:@lato;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
