.example {
    background-color: #EAEAEA;
}

.example__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 40px;

    @media (min-width:@tablet-width) {
      font-size: 60px;
      line-height: 60px;
  }
}

.example__text {
    font-family: @lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: #444444;

    @media (min-width:@tablet-width) {
      font-size: 16px;
      line-height: 24px;
  }
}

.example__number {
    font-size: 24px;
    line-height: 24px;
}

.example__description {
    font-family: @lato;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #444444;
}

.example__cost {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.example__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width:@tablet-width) {
    width: 708px;
  }

  @media (min-width:@desktop-width) {
    width: 1220px;
  }
}
