.gift {
  background: @basic-green;
  width: 280px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-bottom: 0;
  }
}

.gift__title {
  font-family:@lato;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  padding: 186px 61px 43px 58px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 71px 124px 69px 422px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 185px 18px 0px 16px;
    text-align: center;
  }
}
