.gift {
  background-color: @basic-green;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }
}

.gift__title {
  font-family:@lato;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;
}
