.main-button {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: @basic-green;
    color: #ffffff;
    width: 100%;
    padding: 7px;
}
