.main-button {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: @basic-green;
    color: #ffffff;
    width: 100%;
    padding: 8px;

    @media (min-width: @tablet-width) {
      width: 244px;
      padding: 14px;
    }

    @media (min-width: @desktop-width) {
    }
}

.main-button:hover {
  background: #5EAA2F;
}

.main-button:active {
  background: #5EAA2F;
  color: #68B738;;
}
