.main-header {
    background-color:#ffffff;
}

.main-header__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.main-header__column {
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 17px;
  height: 100%;

  @media (min-width: @tablet-width) {
   padding: 0;
  }

  @media (min-width: @desktop-width) {

  }
}

.main-header__logo-text {
  display: block;
}

.main-header__logo {
  display: block;
  width: 200px;
}

.main-header__picture {
  width: 200px;
}

.main-header.open .main-nav {

  @media (max-width: @mobile-width-only) {
   display: block;
  }
}

.main-header__burger-btn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: inherit;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {

  }
}

.main-header__burger-btn span {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000000;
  left: 3px;
  transition: 0.2s ease-in;
}

.main-header__burger-btn span:nth-child(1) {
  transform: translateY(-8px);
}

.main-header__burger-btn span:nth-child(3) {
  transform: translateY(8px);
}

.main-header.open .main-header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.main-header.open .main-header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.main-header.open .main-header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
