.main-promo {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/img__index/index-background.png);
    background-repeat: no-repeat;
    background-size: 100% 302px;

    @media (min-width:@tablet-width) {
      background: none;
    }

    @media (min-width:@desktop-width) {
      margin-bottom: 200px;
    }
}

.main-promo::before {
  @media (min-width:@desktop-width) {
    content: "";
    position: absolute;
    width: 50%;
    min-height: 694px;
    top: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/img__index/index-background-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 694px;
  }
}

.main-promo__title-one {
    margin: 0;
    margin-bottom: 25px;
    padding-top: 27px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: @basic-white;

    @media (min-width:@tablet-width) {
      font-size: 60px;
      line-height: 60px;
      color: @basic-black;
      text-align: left;
      width: 416px;
    }
}

.main-promo__title-two {
    margin: 0;
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    @media (min-width:@tablet-width) {
      font-size: 20px;
      line-height: 20px;
      color: @basic-black;
      text-align: left;
    }

    @media (min-width:@desktop-width) {
      margin-bottom: 49px;
    }
}

.main-promo__wrapper {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width:@tablet-width) {
    margin: 0;
    width: 708px;
    padding-left: 118px;
    padding-bottom: 526px;
  }

  @media (min-width:@desktop-width) {
    width: 1220px;
    padding-left: 190px;
    padding-bottom: 152px;
  }
}

.main-promo__picture {
  @media (min-width:@tablet-width) {
    width: 709px;
    height: 609px;
    position: absolute;
    z-index: -1;
    left: 47px;
    top: 205px;
  }

  @media (min-width:@desktop-width) {
    width: 552px;
    height: 499px;
    top: 0;
    left: 514px;
    z-index: 1;

  }
}
