.special__list {
    text-decoration: none;
}

.special__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
}

.special__item {
    font-family: @lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    list-style-type: none;
    margin-bottom: 26px;
    color: #444444;
}

.special__wrapper {
  margin: 0 auto;
  width: 320px;
}
